@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient {
  outline: none;
  background: linear-gradient(
    135deg,
    #5335cf 0%,
    #de005e 25%,
    #f66e48 50%,
    #de005e 75%,
    #5335cf 100%
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  to {
    background-position: 400%;
  }
}
body{
  transition: all 0.5s ease-in-out;
}
body::-webkit-scrollbar {
  display: none;
}


