---
import {Github,Mail,Linkedin,Twitter,Phone} from 'lucide-react'
---
<div class="grid grid-cols-5">
    <div class="flex gap-1 items-center">
        <Github className='w-3'/>
        <p>github.com/hosenur</p>
    </div>
    <div class="flex gap-1 items-center">
        <Linkedin className='w-3'/>
        <p>linkedin.com/in/hosenur</p>
    </div>
    <div class="flex gap-1 items-center">
        <Twitter className='w-3'/>
        <p>twitter.com/hosenurdev</p>
    </div>
    <div class="flex gap-1 items-center">
        <Mail className='w-3'/>
        <p>hosenur.dev@gmail.com</p>
    </div>
    <div class="flex gap-1 items-center">
        <Phone className='w-3'/>
        <p>+91 86702 39479</p>
    </div>
</div>  