---
const EXPERIENCES = [
    {
        company: "Zeza Technologies",
        position: "ML & Frontend Developer",
        start: "January 2023",
        end: "January 2024",
    },
    {
        company: "Techimpace",
        position: "React Native Developer",
        start: "2020",  
        end: "Present",
    }
]
---
<div class="flex flex-col gap-2">
    <h2 class="text-base">Experience</h2>
    {
        EXPERIENCES.map((experience) => (
            <div class="">
                <div class="">{experience.company}</div>
                <div class="">{experience.position}</div>
                <div class="flex gap-2">

                <span class="">{experience.start}</span>
                <span>-</span>
                <span class="">{experience.end}</span>
                </div>
            </div>
        ))
    }

</div>