@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./syntax.css";
::-webkit-scrollbar {
  display: none;
}
.header {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
}
/* body{
  background-image: url("https://ik.imagekit.io/hosenur/IO/bg.svg");
  background-repeat: repeat-y;
  background-size: contain;
  background-blend-mode: soft-light;
} */
