@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./syntax.css";
::-webkit-scrollbar {
  display: none;
}
.header {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
body{
  background-image: url("https://ik.imagekit.io/hosenur/IO/bg.svg");
  background-repeat: repeat-y;
  background-size: cover;
  background-blend-mode: soft-light;
}