@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Commit';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/regular.otf');
    font-display: swap;
}
@font-face {
    font-family: 'Commit';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/bold.otf');
    font-display: swap;
}