---
import Works from "../components/cv/Works.astro";
import Projects from "../components/cv/Projects.astro";
import CVLayout from "../layouts/CVLayout.astro";
import Experience from "../components/cv/Experience.astro";
import TechStack from "../components/cv/TechStack.astro";

---
<CVLayout>
    <p>
        I build full stack applications with React, Next.js, React Native and NodeJS. I also play around with every new and up to date technology in the market.
    </p>
    <TechStack/>
    <Works />
    <Projects />
    <Experience/>
</CVLayout>