---
import FeaturedProjects from "../components/FeaturedProjects.astro";
import Hero from "../components/Hero.astro";
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>

    <div class="flex flex-col gap-10">
        <Hero/>
        <FeaturedProjects/>
    </div>
</AppLayout>