---
import FeaturedProjects from "../components/FeaturedProjects.astro";
import Hero from "../components/Hero.astro";
import Links from "../components/Links.astro";
import RecentBlogs from "../components/RecentBlogs.astro";
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>

    <div class="flex flex-col gap-10">
        <Hero/>
        <Links/>
        <FeaturedProjects/>
        <RecentBlogs/>
    </div>
</AppLayout>