---
import Hero from "../components/Hero.astro";
import PersonalProjects from "../components/PersonalProjects.astro";
import TechStack from "../components/TechStack.astro";
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>
	<main
		class=" flex flex-col gap-16"
	>
		<Hero />
		<TechStack />
		<PersonalProjects />
	</main>
	<script>
		document.addEventListener("keydown", function (event) {
			if (event.key === "m" || event.key === "M") {
				window.open("mailto:mail@hosenur.dev", "_blank");
			}
		});
	</script>
</AppLayout>
