---
import Links from "../components/Links.astro";
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>
	<div class="p-5 flex flex-col gap-5">
		<div class="flex flex-col gap-1">
			<h1 class="text-white font-bold">Hosenur Rahaman</h1>
			<p class="text-xs">
				Indie Developer, Photographer, Linux Enthusiast, CS Student
			</p>
		</div>
		<Links />
		<div class="flex flex-col gap-5">
			<div class="flex flex-col gap-2">
				<span class="flex items-center justify-between">
					<h1 class="text-white font-bold">Limely</h1>
					<div class="flex items-center gap-2 py-0.5 rounded-md px-2">
						<div
							class="animate-ping w-1 h-1 bg-green-300 rounded-full"
						>
						</div>
						<p class="text-xs">In Progress</p>
					</div>
				</span>
				<p class="text-xs">
					Collaborative platform where YouTube creators can create
					workpaces.
				</p>
					<p class="text-xs text-white flex items-center gap-1 lowercase">limely.studio
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up-right w-4"  viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M17 7l-10 10" />
							<path d="M8 7l9 0l0 9" />
						  </svg>

					</p>
			</div>

		</div>
	</div>
</AppLayout>
