<div class="max-w-2xl mx-auto flex justify-between items-center p-5 md:p-10">
	<p>hosenur.dev</p>
	<div class="flex gap-2.5">
		<p>blogs</p>
		<p>projects</p>
		<p>work</p>
		<p>gallery</p>
	</div>
</div>