---
const currentPath = Astro.url.pathname
console.log(currentPath)
---
<div class="max-w-2xl mx-auto flex justify-between items-center ">
	<a class={`${currentPath === '/' ? 'underline decoration-wavy' : ''}`}>hosenur.dev</a>
	<div class="flex gap-2.5">
		<a href="/blog" class={`${currentPath === '/blogs' ? 'underline decoration-wavy' : ''}`}>blog</a>
		<a class={`${currentPath === '/projects' ? 'underline decoration-wavy' : ''}`}>projects</a>
		<a class={`${currentPath === '/gallery' ? 'underline decoration-wavy' : ''}`}>contact</a>
	</div>
</div>