<header class="bg-black/70 text-neutral-200 glass fixed w-full">
    <nav class="max-w-4xl mx-auto flex items-center justify-between text-xs md:text-sm font-bold p-5 font-satoshi">
        <p class="leading-4">hosenur <br> 
            <span class="text-lime-300">
                rahaman
            </span>
           </p>
        <div class="flex gap-10">
            <a href="/projects">projects</a>
            <p>blogs</p>
            <p>about</p>
        </div>
    </nav>
</header>