<div class="flex flex-col gap-1">
    <h1 class="text-white font-bold text-lg">Hosenur Rahaman</h1>
    <p class="">
        Indie developer by day (and night too), currently working on building <a href="" class="text-lime-300 font-bold">Limely</a> (A collaborative platform to simplify creating YouTube content). Full Time Computer Science Student. Linux Enthusiast and <a class="text-lime-300 font-bold" href="">Photographer</a> by passion
    </p>
</div>
