---
---

<div>
    <h1 class="text-neutral-800 font-medium text-4xl lowercase ">Hosenur Rahaman.</h1>
    <div class="flex gap-2.5 items-center">
        <p>developer</p>
        <span>
            -
        </span>
        <p>designer</p>
        <span>
            -
                </span>
        <p>filmmaker</p>
    </div>
    <p class="mt-2.5">
        I am Hosenur Rahaman, I build stuff with React, NextJS, React Native, NodeJS and Golang. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore iste aut nesciunt enim cupiditate fugiat eos magnam aspernatur neque cumque.
    </p>
</div>
