<div class="max-l">
    <div class="flex flex-col gap-4">
        <div class="flex gap-1 font-bold text-xl">
            <p class="text-lime-400">#</p>
            <p>About</p>
        </div>
        <div
            class="flex flex-col md:flex-row-reverse justify-between items-start md:items-center gap-5"
        >
            <img src="/avatar.jpg" class="w-24 md:w-20" alt="" />

            <h1 class="font-black text-6xl uppercase text-neutral-100">
                Hosenur Rahaman
            </h1>
        </div>
        <p><span class="text-lime-400">Full Stack </span>Web & App Developer</p>
        <p class="w-full text-pretty">
            I build full stack mobile and web experieces with focus on User
            Experience, Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Optio possimus fugiat numquam culpa fuga iusto quas ullam, ab
            magnam ratione? I also love <a class="text-lime-400" href="/photography">Photography</a> and travel
        </p>
        <div
            class="border border-neutral-800 w-fit px-2 gap-2 flex items-center justify-center rounded bg-neutral-900"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide w-4 lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
            <p class="font-space">mail@hosenur.dev</p>
        </div>
        <div class="flex items-center gap-1">
            <p>Press</p>
            <p
                class="border border-neutral-800 w-6 h-6 flex items-center justify-center rounded bg-neutral-900"
            >
                M
            </p>
            <p>anytime to send me an email.</p>
        </div>
    </div>
</div>
