---
import Circle from "../icons/circle.astro";
---

<div>
    <h1 class="text-neutral-800 font-medium ">Hosenur Rahaman</h1>
    <div class="flex gap-2.5 items-center">
        <p>developer</p>
        <span>
            <Circle/>

        </span>
        <p>designer</p>
        <span>
            <Circle/>
        </span>
        <p>filmmaker</p>
    </div>
    <p class="mt-2.5">
        I am Hosenur Rahaman, I build stuff with React, NextJS, React Native, NodeJS and Golang 
    </p>
</div>
