<div class="flex gap-2.5">
    <a href="https://twitter.com/hosenurdev" class="hover:underline hover:decoration-wavy ">twitter</a>
    <a href="https://github.com/hosenur" class="hover:underline hover:decoration-wavy ">github</a>
    <a href="https://linkedin.com/in/hosenur" class="hover:underline hover:decoration-wavy ">linkedin</a>
</div>