<div class="flex flex-col gap-2">
    <span class="flex items-center justify-between">
        <h1 class="text-white font-bold">Duotone</h1>
    </span>
    <p class="text-xs">
        Developer first invoicing API, beautifully designed Invoices directly to customer's inboxes.
    </p>
    
        <p class="text-xs text-white flex items-center gap-1 lowercase">duotone.ink
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up-right w-4"  viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 7l-10 10" />
                <path d="M8 7l9 0l0 9" />
              </svg>

        </p>
    
</div>