---
const slug = Astro.url.pathname
export const prerender = false
const res = fetch(`https://counter-hosenur.deno.dev/?slug=${slug}`)
  .then((r) => r.json())
  .then((data) => data);
const item = await res;
---

<div>
  <p>read by {item.count} humans</p>
</div>