---
const currentPath = Astro.url.pathname
const slug = currentPath.split('/')[1]
const res = fetch(`https://counter-hosenur.deno.dev/?slug=${slug}`)
  .then((r) => r.json())
  .then((data) => data);
const item = await res;
---

<div>
  <p>Views: {JSON.stringify(item)}</p>
</div>