---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import '@fontsource-variable/urbanist';
import '@fontsource/geist-mono'
---

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="bg-black text-zinc-400 font-urbanist text-sm md:text-base">
        <Header/>
        <main class="max-w-4xl mx-auto">
            <slot />
        </main>
        <Footer/>
    </body>
</html>
