---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
    <head> 
        <BaseHead title="Hosenur" description="Personal portfolio of Hosenur Rahman" />
    </head>
    <body transition:animate="fade" class="bg-black text-neutral-400 font-urbanist font-semibold">
        <Header/>
        <main class="pt-20 md:pt-40 max-w-4xl mx-auto p-5">

            <slot />
        </main>
    </body>
</html>
