---
import '@fontsource-variable/outfit';
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
---
<html lang="en">
    <head>
        <BaseHead title={"hosenur.dev"} description={"desc"} />
        </head>
        <body>

            
            
            <main class=" bg-neutral-100 min-h-screen font-outfit text-neutral-600 text-sm md:text-base ">
                
                <Header/>
                <div class="max-w-2xl mx-auto p-5 md:p-10">
                    <slot/>
                </div>
            </main>
        </body>
        </html>