---
import AppLayout from "./AppLayout.astro";
const { title } = Astro.props;
---

<AppLayout>
	<h1
	 class="text-2xl font-bold mb-4">{title}</h1>
	<article class="prose max-w-full">
		<slot/>
	</article>
</AppLayout>
