---
import '@fontsource-variable/outfit';
import BaseHead from '../components/BaseHead.astro';
---
<html lang="en">

<head>
    <BaseHead title={"CV"} description={"desc"} />
</head>

<body>

        <main class="max-w-6xl mx-auto p-5 font-outfit  flex flex-col gap-4">
            <slot />
        </main>
</body>

</html>